@charset "utf-8";
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
       url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff');
}

:root {
  color-scheme: light dark;
  --soft-black: #333;
  --soft-white: #fefefe;
  --borderColor: transparent;
  --links: #0078A8;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}
*, *::before, *::after {
  box-sizing:inherit;
}
body {
  margin: 0; padding: 0;
  height: 100vh; overflow: hidden;
  background: #d7eeff linear-gradient(45deg, #8ec5fc, #e0c3fc) fixed;
  font-family: "Public Sans", "fira_sans", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: var(--soft-black);
}
body::before {
  content: "";
  display: block; position: absolute;
  height: 100%; min-height: 100vh;
  left: 0; right: 0;
  background: #d7eeff linear-gradient(45deg, #232526, #414345) fixed;
  opacity: 0; transition: opacity 1s ease; will-change: opacity;
  z-index: -1
}
#noscript {
  margin-top: 2em;
  font-size: 2em;
  color: #700;
  width: 100%;
  text-align:center
}
#caltainer {
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: auto;
}

#cal-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  min-height: 100vh;
  height:100%;
}
#cal-grid > div {
  height: 40px;
  display: inline-block;
  height: 100%;
}
#cal-grid > div, .days-names div {
  border-bottom: 1px solid var(--borderColor);
  border-right: 1px solid var(--borderColor);
}
#cal-grid > div:nth-child(7n), .days-names div:nth-last-child(1)  {
  border-right: 0;
}
#cal-grid > div:nth-last-child(-n+7) {
  border-bottom: 0;
}

#cal-grid > div::before {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 1.5rem; height: 1.5rem;
  margin: .2rem;
  font-size: 1rem;
  text-align:center;
}

.cal-today::before {
  background: var(--soft-black);
  color: var(--soft-white) !important;
  border-radius: 50%;
}

.cal-prev, .cal-next, .cal-curr  {
  box-shadow: 0 1px 0 white inset, inset 0 1px 0 rgba(255,255,255,0.7);
  border: 1px solid rgba(0,0,0,0.1);
  background: rgba(255,255,255,0.5);  
}

.cal-prev, .cal-next {
  opacity: .5 ;
}

.cal-prev::before {
  content: counter(prev-days, decimal);
  counter-increment: prev-days 1;
}

.cal-curr::before {
  content: counter(curr-days, decimal);
  counter-increment: curr-days;
}

.cal-next::before {
  content: counter(next-days, decimal);
  counter-increment: next-days;
}

.cal-nav,
.days-names {
  user-select: none;
  font-size: 1.1rem
}

.days-names,
.cal-nav {
  display: flex;
}
.days-names {
  border-top: 1px solid var(--borderColor);
  margin-bottom: .1rem
}
.days-names > div {
  display: inline-block;
  width: 14.285714286%;
  text-align: center;
}

.cal-nav {
  width: 100%;
  padding: .2rem 0;
}

.cal-nav > div {
  display: inline-block;
}

#month-year {
  margin: 0 2rem;
  font-weight: 600
}

#month-year:first-letter {
  text-transform: uppercase;
}

#go-prev,
#go-next {
  flex: 1 1 auto;
  cursor: pointer;
  border: 0;
  background: transparent;
  color: var(--soft-black);
  text-decoration: none
}

#go-prev:focus,
#go-next:focus {
  outline: 1px dashed #fff;
}

#go-prev {
  text-align: right
}
#go-next {
 text-align: left;
}

.cal-event {
  cursor: pointer;
  position: relative;
  overflow:hidden;
  background: #8EC5FC;
  color: #fefefe;
  border-radius:5px;
  padding: 4px;
  display: block;
  margin: 0 2px 3px 2px;
  font-size: 1rem;   
  word-break: break-word;  
  hyphens: auto;
  text-decoration: none;
  transition: transform .4s ease, box-shadow .4s ease;
  box-shadow: 0px 0px 0px #333;
}
.evt-national {
  background: #76BF9E;
  color: #fefefe !important;
}
.evt-fest {
  background: #E0938C;
  color: #333 !important;
}
.evt-politic {
  background: #ff5583;
}
.evt-conference {
  background: #03bd9e;
}
.cal-event:hover {
  transform: scale(1.2);
  box-shadow: 0px 4px 7px rgba(0,0,0,.4);
  z-index: 888
}
.cal-event:focus {
  outline: 2px dashed #fff;
}
#cal-details {
  position: fixed;
  bottom: -100%;
  width: 100%;
  background: var(--soft-white);
  color: var(--soft-black);
  transition: bottom .5s ease;
  border-top: 1px solid var(--soft-black);
  padding: .9rem 0 .5rem 1rem;
  z-index: 999;
  height: calc(100% - 15px);
  border-radius: 5px 5px 0 0
}

.scrollable {
  overflow:auto;
  height: 100%
}
.scrollable > div {
  margin-bottom: 1rem;
}
#cal-details a {
  color: var(--links)
}
#details-title {
 font-size: 1.5rem;
 font-variant: small-caps;
}

#details-exit {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: .15rem;
  position: absolute;
  width: 30px;
  height: 30px; 
  background: var(--soft-white);
  top: -15px;
  left: calc(50% - 15px);
  border-radius: 50px;
  margin-left: 5px;
  border: 1px solid var(--soft-black);
  cursor: pointer;
  text-decoration: none;
}
#details-exit::before {
  color: var(--soft-black);
}
#details-exit:hover {
  color: var(--soft-white);
  background: var(--soft-black);
}
#details-exit:hover::before {
  color: var(--soft-white);
}
#cal-details div:not(#details-exit)::before {
  width: 1.2rem
}
.fa::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-link:not(:empty)::before { content: "\f0c1" }
.fa-quote:not(:empty)::before { content: "\f10d";font-size:2rem; padding-right:2.1rem; float:left; }
.fa-cross::before {content: "\f067"; transform: rotate(45deg) }
.fa-clock:not(:empty)::before {content: "\f017" }
.fa-map-marker:not(:empty)::before {content: "\f041"}

@media screen and (max-width:740px) {
  .days-names > div span span {display:none}
}
@media screen and (max-width:300px) {
  .days-names > div span {display:none}
}
/*
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
*/
@media (prefers-color-scheme: dark) {
  :root {
    --soft-black: #fefefe;
    --soft-white: #333;
    --borderColor: #fefefe;
    --links: #8cdeff
  }
  body::before {opacity:1 !important}
  .cal-prev, .cal-next, .cal-curr  {
    box-shadow: none;
    background: transparent;
  }
}
