body::before {opacity:1}
article, nav div, nav a, #important, #totop, #quitter, #exit, footer {background: #242626}
article a, #important a {color:#8cdeff}
footer {border-top: 1px solid #ccc;border-right: 1px solid #ccc}
header {border-bottom: 2px solid #ccc}
nav div:hover, nav a:hover, #quitter:hover, #totop:hover, #exit:hover {background:#eee;box-shadow:#888 0 0 2px, #333 0 3px 0;color:#111}
nav div:hover select, option {color:#333}
nav div:hover select {background:#fff}
footer a, h1, .bus span {color:#fefefe}
body, article a:hover, .maplink, #important a:hover, select, #quitter, #exit, #totop {color:#ddd}
nav div, nav a, article, #important {box-shadow:#eee 0 0 2px, #777 0 3px 0}
nav a:active  {box-shadow:#333 0 0 2px, #3facff 0 1px 0}
h2 {border-bottom:1px solid #777}
#totop, #quitter, #exit {border:2px solid #888}
#toggle_button {color:#eee; background-color: #1a1f21;border: 2px dashed #eee}
#toggle_button:hover, #toggle_button:focus {border: 2px solid #1a1f21;background-color: #eee;color: #1a1f21}
