@charset "UTF-8";
@viewport {
  width: device-width;
  zoom: 1
}
@font-face {
  font-family: "Public Sans";
  src: url("font/PublicSans-Regular.woff2") format("woff2"),
       url("font/PublicSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Public Sans";
  src: url("font/PublicSans-Italic.woff2") format("woff2"),
       url("font/PublicSans-Italic.woff") format("woff");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Public Sans";
  src: url("font/PublicSans-Bold.woff2") format("woff2"),
       url("font/PublicSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

*, *::before, *::after {box-sizing: border-box}
html {font-size: 100%}
body {
  margin: 0; padding: 0 0 30px 0; 
  line-height: 1.15;
  /* background-image: linear-gradient(322deg, #ba4aff, rgba(186, 74, 255, 0) 70%), linear-gradient(178deg, #008aff, rgba(0, 138, 255, 0) 70%), linear-gradient(24deg, #00ffc6, rgba(0, 255, 198, 0) 35%);*/
  background: #d7eeff linear-gradient(45deg, #8ec5fc, #e0c3fc) fixed;
}
body, select, button { font-family: "Public Sans", "fira_sans", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif}
a {background-color: transparent}
b, strong {font-weight: bolder}
button { overflow: visible; -webkit-appearance: button }
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0 }
button, select { text-transform: none }
hr { border-top: 2px dashed #777; border-bottom: 0 }
ul { display: block; list-style-type: disc; margin: 0; padding-left: 15px }
button, input, select { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0 }
sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; top: -.5em }
.sr-only, label { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; overflow: hidden; white-space: nowrap; /*clip: rect(0, 0, 0, 0);*/ }

/** COLORS **/
.ctt, h1, option, #totop, #quitter:hover, #exit:hover { background: #333 }
.ctt a, h1, option, #totop, #quitter:hover, #exit:hover, #totop, .bus span { color: #fefefe }
#totop:hover, #exit, article, .selectors div:hover, .selectors a:hover { background: #fefefe }
article a:hover, #important a:hover, select, .maplink, article div, #quitter, #exit, #totop:hover { color: #333 }
article a, #important a { color: #0078A8 }
.selectors div, .selectors a, select {background: #f1f9ff}

/*** SAMES ***/
#careContainer, #totop, #important {display:none}
.table, #mymap, h1 {width: 100%}
#exit, #quitter, select, #totop {cursor: pointer}
.selectors, .maplink, .l, h1 {text-align: center}
#quitter, #exit {border: 1px solid #888;font-size: 1.2rem;border-radius: 5px}
#quitter, h1, .table, .bus span  { justify-content: center}
#quitter, h1, .bus span { align-items: center}
#quitter, .table {display: flex}
#quitter {
  float: right; 
  margin-left: 5px;
  box-shadow: #888 0 2px 0;
  background-color: rgba(255,255,255,0.4)
}
#quitter:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
#exit {
  position: absolute;
  top: 15px;
  right: 15px;
}
h1 {
  margin: 0; padding: 7px; 
  font-size: 1.1rem; font-weight: 500
}
h2, h3 {font-size: 1rem}
h2 {
  margin: 0 0 5px 0;
  border-bottom: 1px solid #777;
}
h3 {
  margin: 0; padding: 4px 13px
}

/********** SELECTORS **********/
.selectors {margin: 20px 0 10px 0}
.selectors div, .selectors a {
  display: inline-block;
  padding: 5px; margin: 0 10px 8px 0;
  border-radius: 36px;
  box-shadow: #888 0 0 2px, #666 0 3px 0;
}
.selectors div:hover, .selectors a:hover {
  box-shadow: #888 0 0 2px, #333 0 3px 0;
  color: #111
}
.selectors div:hover select {
  background: #fff
}
.selectors a {
  padding: 6px 12px;
  text-decoration: none
}
.selectors a:active  {
  box-shadow: #333 0 0 2px, #3facff 0 1px 0;
  transform: translateY(2px)
}
select, #mymap {
  height: 100%;
  border: 0;
  font-size: 1em
}
select {
  padding-left: 5px;
  outline: none;
  width: 100%;
}
.table {
  flex-direction: row;
  flex-wrap: wrap;
}
article {width: 500px;}
article, #important {
  position: relative;
  padding: 5px 0 9px 0;  margin: 11px 1vw;
  box-shadow: #555 0 2px 4px;
  border-radius: 12px 
}
article div, article h2 { padding: 4px 13px 4px 13px }
article div:not(.desc) { padding-left: 35px }
article div::before { position: absolute; left: 12px }
#important {
  position: relative;
  font-size: 1rem;
  background: linear-gradient(-45deg, rgba(241, 249, 255, .4), rgba(255,255,255,.8));
  padding: 10px !important;
  border: 1px solid rgba(255,255,255,0.7)
}
#important ul {
  display: inline-block;
  vertical-align: top
}
#totop, .mapbox, .ctt {position: fixed}
#totop {
  display: block;
  text-decoration: none;
  bottom: 15px; right: 15px;
  padding: 5px;
  border: 0; border-radius: 10px;
  font-size: .9rem;
  z-index: 20
}
.mapbox {
  width: 100vw; height: 100vh;
  bottom: 0; top: 0; right: -100vw;
  transition: right 1s;
  z-index: 30
} .deploy {right: 0}
.ctt {
  bottom: 0;
  font-size: .9rem;
  padding: 3px 5px;
  border-top-right-radius: 10px
}
.ctt a { text-decoration: none } .ctt a:hover { text-decoration: underline }

/*************************************** EMOJIS ***************************************/
.ig::before, .tw::before, .fb::before, .yt::before, .sc::before, .fbi {
  content: "";
  width:16px; height:16px;
  background-size: 16px 16px;
  display: inline-block;
  margin-right: 5px;
  transform: translateY(2px)
}
.fbi {background-image:url(img/fb.png)}
.desc {font-style: italic}
.ig::before {background-image:url(img/ig.png)}
.tw::before {background-image:url(img/tw.png)}
.fb::before {background-image:url(img/fb.png)}
.yt::before {background-image:url(img/yt.png)}
.sc::before {background-image:url(img/sc.png)}
.num::before {content:"\01F4DE\00a0";speak-as:digits}
.mail::before {content:"\01F4E7\00a0"}
.web::before {content:"\01F4CE\00a0"}
.loc::before {content:"\01F4EC\00a0"}
.bus::before {content:"\01F68C\00a0"}
.time::before {content:"\01F552\00a0"}
.avis::before {content:"\01F4AC\00a0"}
.prix::before {content:"\1FA99\00a0"}
.conv::before {content:"\01F4C3\00a0"}
.lng::before {content:"\01F5E3\FE0F\00a0"}
.acc::before {content:"\0267F\00a0"}
.park::before {content:"\01F17F\FE0F\00a0"}
.info::before {content:"\2139\FE0F\00a0"}

/**************************************** BUS ****************************************/
.bus span {
  display: inline-flex;
  width: 1.1rem; height: 1.1rem;
  font-size: .7rem; font-weight: bold;
  border-radius: 50%
}
.P3, .PD, .C2, .C3, .P10, .P13, .P27, .P15, .P1E {color: #000 !important}
/*** POITIERS ***/
.P1 {background:#00a3db}
.P1E {background:#83d0f5}
.P2A {background:#f00}
.P2B {background:#d71f26}
.P3 {background:#fff000}
.P10 {background:#92cfc5}
.P11 {background:#90277d}
.P12 {background:#a780ad}
.P13 {background:#e57fa9}
.P14 {background:#de3fa2}
.P15 {background:#9ec83f}
.P16 {background:#347c86}
.P17 {background:#c1934f}
.P20 {background:#82be40}
.P21 {background:#e78229}
.P22 {background:#837438}
.P23 {background:#e26626}
.P24 {background:#e05a75}
.P25 {background:#eea829}
.P27 {background:#a1bcc6}
.P28 {background:#9d6331}
.P29 {background:#69b642}
.P30 {background:#c71066}
.P31 {background:#07ad98}
.P32 {background:#347ab3}
.P33 {background:#a4502b}
.P34 {background:#573d90}
.P35 {background:#719b68}
.PO {background:#e94282}
.PTER {background:#0000b0;font-size: 7px !important}
.PCITA {background:#64c800;font-size: 7px !important}
/*** CHÂTELLERAULT ***/
.C1, .C2, .C3, .C4, .C5, .C6, .C7, .C10, .C11, .C12, .C13, .C14, .C15, .C16 {border-radius: 0 !important}
.C1 {background:#de192c}
.C2 {background:#ff7900}
.C3 {background:#ffb500}
.C4 {background:#c90}
.C5 {background:#0080c2}
.C6 {background:#00c4f3}
.C7 {background:#4a55ba}
.C10 {background:#34b49d}
.C11 {background:#00a456}
.C12 {background:#95c44b}
.C13 {background:#007139}
.C14 {background:#a69e42}
.C15 {background:#1b7b6a}
.C16 {background:#46b052}

@media screen and (max-width:800px) {
  #numbr { display: block }
} 
@media screen and (max-width:450px) {
  h1 {
    font-size: .95rem;
    padding: 5px;
  }
  .selectors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    margin-left: 15px;
    margin-right: 15px;
  }
  .maplink:nth-child(1) {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-start;
    margin-right: 10px
  }
  .maplink:nth-child(2) {
    display: block;
    flex-grow: 1; 
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-start
  }
  h1 img {display:none}
  .ctt {padding: 3px 5px}
  .selectors div, .selectors a { margin-right:0 }
  .selectors div { width: 100% }
  article:last-of-type { margin-bottom: 25px }
}