@charset "UTF-8";
@viewport {
  width: device-width;
  zoom: 1
} 
@font-face {
  font-family: 'tiresias_infofontitalic';
  src: url('Tiresias_Infofont_Italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'tiresias_infofontregular';
  src: url('Tiresias_Infofont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 100%
}
body {
  margin: 0;
  padding: 0 0 30px 0;
  background: #D7EEFF;
}
body, select {
  font-family: "fira_sans", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}
hr {
  border-top: 2px dashed #777; 
  border-bottom: 0
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0
}
label {
  display: none;
}
h1, nav, .maplink, .l {text-align: center}
h1, footer {color: #efefef}
h1 {
  padding: 7px;
  background-color: #333;
  display: flex;
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  justify-content: center;
  align-items: center;
}
nav {padding: 19px 0 8px 0}
.wrap {
  border-radius: 36px;
  display: inline-block;
  background: #f1f9ff;
  padding: 5px;
  margin-right: 10px;
  box-shadow: #a4d8ff 0 0px 2px, #8bcdff 0 3px 0px;
  margin-bottom: 8px;
}
.wrap:hover {
  background: #fff;
  box-shadow: #3facff 0 0px 2px, #3facff 0 3px 0px ;
}
.wrap:hover select {
  background: #fff;
}
select, .mymap {
  height: 100%;
  border: 0;
  font-size: 1em;
}
select {
  background: #f1f9ff;
  padding-left: 5px;
  outline: none;
}
 .table, .mymap, h1 {width: 100%}
#exit, select, #totop {cursor: pointer}
.maplink {
  padding: 6px 12px 6px 12px;
  text-decoration: none;
}
.maplink:active {
  box-shadow: #3facff 0 0px 2px, #3facff 0 1px 0px ;
  transform: translateY(2px)
}
.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
article {
  width: 500px;
  background: #FCFCFC;
  box-shadow: #888 0 2px 4px;	
  border-radius: 12px;
  vertical-align: top; 
  padding: 5px 0 9px 0;
  margin: 8px 1vw 15px 1vw
}
article div {
  vertical-align: middle;
  padding: 4px 13px 4px 13px;
}
article a {
  color: #0078A8
}
article a:hover, select, .maplink, article div {
  color: #333;
}
article b {
  display: block;
  padding: 4px 13px 4px 13px;
}
 #careContainer {display:none}

#totop {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 20; 
  border: 0;
  outline: none;
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius:  10px;
  font-size: 0.9em
}

#totop:hover {
  background-color: #555;
}
.mapbox {
  width: 50vw;
  height: 100vh;
  position: fixed;
  bottom: 0; top: 0;
  right: -50vw;
  transition: right 1s;
  z-index: 30
}
.deploy {
  right: 0;
}
#exit {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 30px;
  background-color: #D7EEFF;
  font-size: 1.2em;
  box-shadow: #a4d8ff 0 0px 2px, #8bcdff 0 3px 0px;
  border: 1px solid #a4d8ff;
  border-radius: 10px;
  color: #333
}
footer {
  display: flex;
  position: fixed;
  bottom: 0;  left: 0;
  background: #333;
  font-size: 0.9em;
  justify-content: center;
  align-items: center;
  padding: 3px 5px 3px 5px;
  border-top-right-radius: 10px;
}
footer a {
  color: #efefef;
  text-decoration: none;
}
footer a:hover {
  color: #D7EEFF;
  text-decoration: underline
}

/*** Article elements ***/

.ig::before, .tw::before, .fb::before, .yt::before, .sc::before {
  content: "";
  width:16px; height:16px;
  background-size: 16px 16px;
  display: inline-block;
  margin-right: 5px;
  transform: translateY(2px);
}
.loc, .bus, .time, .avis, .info, .loc, .web {margin-left: 20px}

.name {font-weight: bold; margin-bottom: 5px; border-bottom: 1px solid #777}
.desc {font-style: italic}
.num {speak-as:digits}
.ig::before {background-image:url(img/ig.png)}
.tw::before {background-image:url(img/tw.png)}
.fb::before {background-image:url(img/fb.png)}
.yt::before {background-image:url(img/yt.png)}
.sc::before {background-image:url(img/sc.png)}
.num::before {content:"\01F4DE\00a0"}
.mail::before {content:"\01F4E7\00a0"}
.web::before {content:"\01F4CE\00a0"; margin-left:-20px}
.loc::before {content:"\01F4EC\00a0"; margin-left:-20px}
.bus::before {content:"\01F68C\00a0"; margin-left:-20px}
.time::before {content:"\01F552\00a0"; margin-left:-20px}
.avis::before {content:"\01F4AC\00a0"; margin-left:-20px}
.prix::before {content:"\1FA99\00a0"}
.conv::before {content:"\01F4C3\00a0"}
.lng::before {content:"\01F5E3\FE0F\00a0"}
.acc::before {content:"\0267F\00a0"}
.park::before {content:"\01F17F\FE0F\00a0"}
.info::before {content:"\2139\FE0F\00a0";margin-left:-20px}

/*** Bus Circles ***/
.l {
  display: inline-block;
  width: 17px; height: 17px;
  font: bold 10px sans-serif;
  border-radius: 50%;
  line-height: 18px;   
  color: #fff;
}
.lN2A, .lN2B, .lTER, .lN11, .lCITA {
  font-size: 7px;
  line-height: 17px
}
.l3, .lD {color:#000}
.l1 {background:#00A3DB}
.l2A {background:#FF0000}
.l2B {background:#D71F26}
.l3 {background:#FFF000}
.l1E {background:#83D0F5}
.lO {background:#E94282}
.l10 {background:#92CFC5}
.l11 {background:#90277D}
.l12 {background:#A780AD}
.l13 {background:#E57FA9}
.l14 {background:#DE3FA2}
.l15 {background:#9EC83F}
.l16 {background:#347C86}
.l17 {background:#C1934F}
.l34 {background:#573D90}
.l32 {background:#347AB3}
.l35 {background:#719B68}
.l33 {background:#A4502B}
.l20 {background:#82BE40}
.l21 {background:#E78229}
.l22 {background:#837438}
.l23 {background:#E26626}
.l24 {background:#E05A75}
.l25 {background:#EEA829}
.l27 {background:#A1BCC6}
.l28 {background:#9D6331}
.l29 {background:#69B642}
.l30 {background:#C71066}
.l31 {background:#07AD98}
.lTER {background:#0000B0}
.lCITA {background:#64C800}
.lA {background:#FF0000}
.lB {background:#E30613}
.lC {background:#00A665}
.lD {background:#FFF000}
.lE {background:#90287B}
.lN2A {background:#D80014}
.lN2B {background:#9A181F}
.lN3 {background:#DDAD22}
.lN11 {background:#90277D}

@media screen and (max-width:800px) {
  #numbr {
	display: block; 
    width: 100vw;
    right: -100vw;	
  }
  .mapbox {
	width: 100vw;
    right: -100vw;
  }
  .deploy {
	  right: 0;
  }
} 
@media screen and (max-width:450px) {
  h1 {
	font-size: 0.95em;
	padding: 5px;
  }
  footer {
	  padding: 0px 5px 0px 5px
  }
  .wrap {
	display: block;  
	width: calc(100% - 16px);
	margin-left: 8px;
	margin-right: 8px;
  }
  .wrap a, select {
	 width: 100%;
	 display: block;
  }
} 
